@font-face {
    font-family: "BizIcon";
    src: url("../font/BizIcon.eot?e11996b146cd72cb39ba5c213dbf93fe"); /* For IE6-8 */
    src: url("../font/BizIcon.eot?e11996b146cd72cb39ba5c213dbf93fe?#iefix") format("embedded-opentype"),
         url("../font/BizIcon.woff?e11996b146cd72cb39ba5c213dbf93fe") format("woff"),
         url("../font/BizIcon.ttf?e11996b146cd72cb39ba5c213dbf93fe") format("truetype"),
         url("../font/BizIcon.svg?e11996b146cd72cb39ba5c213dbf93fe#BizIcon") format("svg");
}

.biz-icon {
    font-family: "BizIcon" !important;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    -webkit-text-stroke-width: 0.2px;
}

.biz-icon-search:before {
    content: "\f101";
}
