@font-face {
    font-family: "BizIcon";
    src: url("../font/BizIcon.eot?7ee7f4688ebc09a508eb46972776116f"); /* For IE6-8 */
    src: url("../font/BizIcon.eot?7ee7f4688ebc09a508eb46972776116f?#iefix") format("embedded-opentype"),
         url("../font/BizIcon.woff?7ee7f4688ebc09a508eb46972776116f") format("woff"),
         url("../font/BizIcon.ttf?7ee7f4688ebc09a508eb46972776116f") format("truetype"),
         url("../font/BizIcon.svg?7ee7f4688ebc09a508eb46972776116f#BizIcon") format("svg");
}

.biz-icon {
    font-family: "BizIcon" !important;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
    -webkit-text-stroke-width: 0.2px;
}

.biz-icon-ic_3d_rotation:before {
    content: "\f101";
}
.biz-icon-ic_accessibility:before {
    content: "\f102";
}
.biz-icon-ic_account_balance:before {
    content: "\f103";
}
.biz-icon-ic_account_balance_wallet:before {
    content: "\f104";
}
.biz-icon-ic_account_box:before {
    content: "\f105";
}
.biz-icon-ic_account_circle:before {
    content: "\f106";
}
.biz-icon-ic_add_shopping_cart:before {
    content: "\f107";
}
.biz-icon-ic_alarm:before {
    content: "\f108";
}
.biz-icon-ic_alarm_add:before {
    content: "\f109";
}
.biz-icon-ic_alarm_off:before {
    content: "\f10a";
}
.biz-icon-ic_alarm_on:before {
    content: "\f10b";
}
.biz-icon-ic_android:before {
    content: "\f10c";
}
.biz-icon-ic_announcement:before {
    content: "\f10d";
}
.biz-icon-ic_aspect_ratio:before {
    content: "\f10e";
}
.biz-icon-ic_assessment:before {
    content: "\f10f";
}
.biz-icon-ic_assignment:before {
    content: "\f110";
}
.biz-icon-ic_assignment_ind:before {
    content: "\f111";
}
.biz-icon-ic_assignment_late:before {
    content: "\f112";
}
.biz-icon-ic_assignment_return:before {
    content: "\f113";
}
.biz-icon-ic_assignment_returned:before {
    content: "\f114";
}
.biz-icon-ic_assignment_turned_in:before {
    content: "\f115";
}
.biz-icon-ic_autorenew:before {
    content: "\f116";
}
.biz-icon-ic_backup:before {
    content: "\f117";
}
.biz-icon-ic_book:before {
    content: "\f118";
}
.biz-icon-ic_bookmark:before {
    content: "\f119";
}
.biz-icon-ic_bookmark_border:before {
    content: "\f11a";
}
.biz-icon-ic_bug_report:before {
    content: "\f11b";
}
.biz-icon-ic_build:before {
    content: "\f11c";
}
.biz-icon-ic_cached:before {
    content: "\f11d";
}
.biz-icon-ic_camera_enhance:before {
    content: "\f11e";
}
.biz-icon-ic_card_giftcard:before {
    content: "\f11f";
}
.biz-icon-ic_card_membership:before {
    content: "\f120";
}
.biz-icon-ic_card_travel:before {
    content: "\f121";
}
.biz-icon-ic_change_history:before {
    content: "\f122";
}
.biz-icon-ic_check_circle:before {
    content: "\f123";
}
.biz-icon-ic_chrome_reader_mode:before {
    content: "\f124";
}
.biz-icon-ic_class:before {
    content: "\f125";
}
.biz-icon-ic_code:before {
    content: "\f126";
}
.biz-icon-ic_credit_card:before {
    content: "\f127";
}
.biz-icon-ic_dashboard:before {
    content: "\f128";
}
.biz-icon-ic_delete:before {
    content: "\f129";
}
.biz-icon-ic_description:before {
    content: "\f12a";
}
.biz-icon-ic_dns:before {
    content: "\f12b";
}
.biz-icon-ic_done:before {
    content: "\f12c";
}
.biz-icon-ic_done_all:before {
    content: "\f12d";
}
.biz-icon-ic_eject:before {
    content: "\f12e";
}
.biz-icon-ic_event:before {
    content: "\f12f";
}
.biz-icon-ic_event_seat:before {
    content: "\f130";
}
.biz-icon-ic_exit_to_app:before {
    content: "\f131";
}
.biz-icon-ic_explore:before {
    content: "\f132";
}
.biz-icon-ic_extension:before {
    content: "\f133";
}
.biz-icon-ic_face:before {
    content: "\f134";
}
.biz-icon-ic_favorite:before {
    content: "\f135";
}
.biz-icon-ic_favorite_border:before {
    content: "\f136";
}
.biz-icon-ic_feedback:before {
    content: "\f137";
}
.biz-icon-ic_find_in_page:before {
    content: "\f138";
}
.biz-icon-ic_find_replace:before {
    content: "\f139";
}
.biz-icon-ic_flight_land:before {
    content: "\f13a";
}
.biz-icon-ic_flight_takeoff:before {
    content: "\f13b";
}
.biz-icon-ic_flip_to_back:before {
    content: "\f13c";
}
.biz-icon-ic_flip_to_front:before {
    content: "\f13d";
}
.biz-icon-ic_get_app:before {
    content: "\f13e";
}
.biz-icon-ic_gif:before {
    content: "\f13f";
}
.biz-icon-ic_grade:before {
    content: "\f140";
}
.biz-icon-ic_group_work:before {
    content: "\f141";
}
.biz-icon-ic_help:before {
    content: "\f142";
}
.biz-icon-ic_help_outline:before {
    content: "\f143";
}
.biz-icon-ic_highlight_off:before {
    content: "\f144";
}
.biz-icon-ic_history:before {
    content: "\f145";
}
.biz-icon-ic_home:before {
    content: "\f146";
}
.biz-icon-ic_hourglass_empty:before {
    content: "\f147";
}
.biz-icon-ic_hourglass_full:before {
    content: "\f148";
}
.biz-icon-ic_http:before {
    content: "\f149";
}
.biz-icon-ic_https:before {
    content: "\f14a";
}
.biz-icon-ic_info:before {
    content: "\f14b";
}
.biz-icon-ic_info_outline:before {
    content: "\f14c";
}
.biz-icon-ic_input:before {
    content: "\f14d";
}
.biz-icon-ic_invert_colors:before {
    content: "\f14e";
}
.biz-icon-ic_label:before {
    content: "\f14f";
}
.biz-icon-ic_label_outline:before {
    content: "\f150";
}
.biz-icon-ic_language:before {
    content: "\f151";
}
.biz-icon-ic_launch:before {
    content: "\f152";
}
.biz-icon-ic_list:before {
    content: "\f153";
}
.biz-icon-ic_lock:before {
    content: "\f154";
}
.biz-icon-ic_lock_open:before {
    content: "\f155";
}
.biz-icon-ic_lock_outline:before {
    content: "\f156";
}
.biz-icon-ic_loyalty:before {
    content: "\f157";
}
.biz-icon-ic_markunread_mailbox:before {
    content: "\f158";
}
.biz-icon-ic_note_add:before {
    content: "\f159";
}
.biz-icon-ic_offline_pin:before {
    content: "\f15a";
}
.biz-icon-ic_open_in_browser:before {
    content: "\f15b";
}
.biz-icon-ic_open_in_new:before {
    content: "\f15c";
}
.biz-icon-ic_open_with:before {
    content: "\f15d";
}
.biz-icon-ic_pageview:before {
    content: "\f15e";
}
.biz-icon-ic_payment:before {
    content: "\f15f";
}
.biz-icon-ic_perm_camera_mic:before {
    content: "\f160";
}
.biz-icon-ic_perm_contact_calendar:before {
    content: "\f161";
}
.biz-icon-ic_perm_data_setting:before {
    content: "\f162";
}
.biz-icon-ic_perm_device_information:before {
    content: "\f163";
}
.biz-icon-ic_perm_identity:before {
    content: "\f164";
}
.biz-icon-ic_perm_media:before {
    content: "\f165";
}
.biz-icon-ic_perm_phone_msg:before {
    content: "\f166";
}
.biz-icon-ic_perm_scan_wifi:before {
    content: "\f167";
}
.biz-icon-ic_picture_in_picture:before {
    content: "\f168";
}
.biz-icon-ic_play_for_work:before {
    content: "\f169";
}
.biz-icon-ic_polymer:before {
    content: "\f16a";
}
.biz-icon-ic_power_settings_new:before {
    content: "\f16b";
}
.biz-icon-ic_print:before {
    content: "\f16c";
}
.biz-icon-ic_query_builder:before {
    content: "\f16d";
}
.biz-icon-ic_question_answer:before {
    content: "\f16e";
}
.biz-icon-ic_receipt:before {
    content: "\f16f";
}
.biz-icon-ic_redeem:before {
    content: "\f170";
}
.biz-icon-ic_reorder:before {
    content: "\f171";
}
.biz-icon-ic_report_problem:before {
    content: "\f172";
}
.biz-icon-ic_restore:before {
    content: "\f173";
}
.biz-icon-ic_room:before {
    content: "\f174";
}
.biz-icon-ic_schedule:before {
    content: "\f175";
}
.biz-icon-ic_search:before {
    content: "\f176";
}
.biz-icon-ic_settings:before {
    content: "\f177";
}
.biz-icon-ic_settings_applications:before {
    content: "\f178";
}
.biz-icon-ic_settings_backup_restore:before {
    content: "\f179";
}
.biz-icon-ic_settings_bluetooth:before {
    content: "\f17a";
}
.biz-icon-ic_settings_brightness:before {
    content: "\f17b";
}
.biz-icon-ic_settings_cell:before {
    content: "\f17c";
}
.biz-icon-ic_settings_ethernet:before {
    content: "\f17d";
}
.biz-icon-ic_settings_input_antenna:before {
    content: "\f17e";
}
.biz-icon-ic_settings_input_component:before {
    content: "\f17f";
}
.biz-icon-ic_settings_input_composite:before {
    content: "\f180";
}
.biz-icon-ic_settings_input_hdmi:before {
    content: "\f181";
}
.biz-icon-ic_settings_input_svideo:before {
    content: "\f182";
}
.biz-icon-ic_settings_overscan:before {
    content: "\f183";
}
.biz-icon-ic_settings_phone:before {
    content: "\f184";
}
.biz-icon-ic_settings_power:before {
    content: "\f185";
}
.biz-icon-ic_settings_remote:before {
    content: "\f186";
}
.biz-icon-ic_settings_voice:before {
    content: "\f187";
}
.biz-icon-ic_shop:before {
    content: "\f188";
}
.biz-icon-ic_shop_two:before {
    content: "\f189";
}
.biz-icon-ic_shopping_basket:before {
    content: "\f18a";
}
.biz-icon-ic_shopping_cart:before {
    content: "\f18b";
}
.biz-icon-ic_speaker_notes:before {
    content: "\f18c";
}
.biz-icon-ic_spellcheck:before {
    content: "\f18d";
}
.biz-icon-ic_stars:before {
    content: "\f18e";
}
.biz-icon-ic_store:before {
    content: "\f18f";
}
.biz-icon-ic_subject:before {
    content: "\f190";
}
.biz-icon-ic_supervisor_account:before {
    content: "\f191";
}
.biz-icon-ic_swap_horiz:before {
    content: "\f192";
}
.biz-icon-ic_swap_vert:before {
    content: "\f193";
}
.biz-icon-ic_swap_vertical_circle:before {
    content: "\f194";
}
.biz-icon-ic_system_update_alt:before {
    content: "\f195";
}
.biz-icon-ic_tab:before {
    content: "\f196";
}
.biz-icon-ic_tab_unselected:before {
    content: "\f197";
}
.biz-icon-ic_theaters:before {
    content: "\f198";
}
.biz-icon-ic_thumb_down:before {
    content: "\f199";
}
.biz-icon-ic_thumb_up:before {
    content: "\f19a";
}
.biz-icon-ic_thumbs_up_down:before {
    content: "\f19b";
}
.biz-icon-ic_toc:before {
    content: "\f19c";
}
.biz-icon-ic_today:before {
    content: "\f19d";
}
.biz-icon-ic_toll:before {
    content: "\f19e";
}
.biz-icon-ic_track_changes:before {
    content: "\f19f";
}
.biz-icon-ic_translate:before {
    content: "\f1a0";
}
.biz-icon-ic_trending_down:before {
    content: "\f1a1";
}
.biz-icon-ic_trending_flat:before {
    content: "\f1a2";
}
.biz-icon-ic_trending_up:before {
    content: "\f1a3";
}
.biz-icon-ic_turned_in:before {
    content: "\f1a4";
}
.biz-icon-ic_turned_in_not:before {
    content: "\f1a5";
}
.biz-icon-ic_verified_user:before {
    content: "\f1a6";
}
.biz-icon-ic_view_agenda:before {
    content: "\f1a7";
}
.biz-icon-ic_view_array:before {
    content: "\f1a8";
}
.biz-icon-ic_view_carousel:before {
    content: "\f1a9";
}
.biz-icon-ic_view_column:before {
    content: "\f1aa";
}
.biz-icon-ic_view_day:before {
    content: "\f1ab";
}
.biz-icon-ic_view_headline:before {
    content: "\f1ac";
}
.biz-icon-ic_view_list:before {
    content: "\f1ad";
}
.biz-icon-ic_view_module:before {
    content: "\f1ae";
}
.biz-icon-ic_view_quilt:before {
    content: "\f1af";
}
.biz-icon-ic_view_stream:before {
    content: "\f1b0";
}
.biz-icon-ic_view_week:before {
    content: "\f1b1";
}
.biz-icon-ic_visibility:before {
    content: "\f1b2";
}
.biz-icon-ic_visibility_off:before {
    content: "\f1b3";
}
.biz-icon-ic_work:before {
    content: "\f1b4";
}
.biz-icon-ic_youtube_searched_for:before {
    content: "\f1b5";
}
.biz-icon-ic_zoom_in:before {
    content: "\f1b6";
}
.biz-icon-ic_zoom_out:before {
    content: "\f1b7";
}
.biz-icon-ic_add_alert:before {
    content: "\f1b8";
}
.biz-icon-ic_error:before {
    content: "\f1b9";
}
.biz-icon-ic_error_outline:before {
    content: "\f1ba";
}
.biz-icon-ic_warning:before {
    content: "\f1bb";
}
.biz-icon-ic_airplay:before {
    content: "\f1bc";
}
.biz-icon-ic_album:before {
    content: "\f1bd";
}
.biz-icon-ic_av_timer:before {
    content: "\f1be";
}
.biz-icon-ic_closed_caption:before {
    content: "\f1bf";
}
.biz-icon-ic_equalizer:before {
    content: "\f1c0";
}
.biz-icon-ic_explicit:before {
    content: "\f1c1";
}
.biz-icon-ic_fast_forward:before {
    content: "\f1c2";
}
.biz-icon-ic_fast_rewind:before {
    content: "\f1c3";
}
.biz-icon-ic_forward_10:before {
    content: "\f1c4";
}
.biz-icon-ic_forward_30:before {
    content: "\f1c5";
}
.biz-icon-ic_forward_5:before {
    content: "\f1c6";
}
.biz-icon-ic_games:before {
    content: "\f1c7";
}
.biz-icon-ic_hd:before {
    content: "\f1c8";
}
.biz-icon-ic_hearing:before {
    content: "\f1c9";
}
.biz-icon-ic_high_quality:before {
    content: "\f1ca";
}
.biz-icon-ic_library_add:before {
    content: "\f1cb";
}
.biz-icon-ic_library_books:before {
    content: "\f1cc";
}
.biz-icon-ic_library_music:before {
    content: "\f1cd";
}
.biz-icon-ic_loop:before {
    content: "\f1ce";
}
.biz-icon-ic_mic:before {
    content: "\f1cf";
}
.biz-icon-ic_mic_none:before {
    content: "\f1d0";
}
.biz-icon-ic_mic_off:before {
    content: "\f1d1";
}
.biz-icon-ic_movie:before {
    content: "\f1d2";
}
.biz-icon-ic_new_releases:before {
    content: "\f1d3";
}
.biz-icon-ic_not_interested:before {
    content: "\f1d4";
}
.biz-icon-ic_pause:before {
    content: "\f1d5";
}
.biz-icon-ic_pause_circle_filled:before {
    content: "\f1d6";
}
.biz-icon-ic_pause_circle_outline:before {
    content: "\f1d7";
}
.biz-icon-ic_play_arrow:before {
    content: "\f1d8";
}
.biz-icon-ic_play_circle_filled:before {
    content: "\f1d9";
}
.biz-icon-ic_play_circle_outline:before {
    content: "\f1da";
}
.biz-icon-ic_playlist_add:before {
    content: "\f1db";
}
.biz-icon-ic_queue:before {
    content: "\f1dc";
}
.biz-icon-ic_queue_music:before {
    content: "\f1dd";
}
.biz-icon-ic_radio:before {
    content: "\f1de";
}
.biz-icon-ic_recent_actors:before {
    content: "\f1df";
}
.biz-icon-ic_repeat:before {
    content: "\f1e0";
}
.biz-icon-ic_repeat_one:before {
    content: "\f1e1";
}
.biz-icon-ic_replay_10:before {
    content: "\f1e2";
}
.biz-icon-ic_replay:before {
    content: "\f1e3";
}
.biz-icon-ic_replay_30:before {
    content: "\f1e4";
}
.biz-icon-ic_replay_5:before {
    content: "\f1e5";
}
.biz-icon-ic_shuffle:before {
    content: "\f1e6";
}
.biz-icon-ic_skip_next:before {
    content: "\f1e7";
}
.biz-icon-ic_skip_previous:before {
    content: "\f1e8";
}
.biz-icon-ic_snooze:before {
    content: "\f1e9";
}
.biz-icon-ic_sort_by_alpha:before {
    content: "\f1ea";
}
.biz-icon-ic_stop:before {
    content: "\f1eb";
}
.biz-icon-ic_subtitles:before {
    content: "\f1ec";
}
.biz-icon-ic_surround_sound:before {
    content: "\f1ed";
}
.biz-icon-ic_video_library:before {
    content: "\f1ee";
}
.biz-icon-ic_videocam:before {
    content: "\f1ef";
}
.biz-icon-ic_videocam_off:before {
    content: "\f1f0";
}
.biz-icon-ic_volume_down:before {
    content: "\f1f1";
}
.biz-icon-ic_volume_mute:before {
    content: "\f1f2";
}
.biz-icon-ic_volume_off:before {
    content: "\f1f3";
}
.biz-icon-ic_volume_up:before {
    content: "\f1f4";
}
.biz-icon-ic_web:before {
    content: "\f1f5";
}
.biz-icon-contact_mail:before {
    content: "\f1f6";
}
.biz-icon-ic_business:before {
    content: "\f1f7";
}
.biz-icon-ic_call:before {
    content: "\f1f8";
}
.biz-icon-ic_call_end:before {
    content: "\f1f9";
}
.biz-icon-ic_call_made:before {
    content: "\f1fa";
}
.biz-icon-ic_call_merge:before {
    content: "\f1fb";
}
.biz-icon-ic_call_missed:before {
    content: "\f1fc";
}
.biz-icon-ic_call_received:before {
    content: "\f1fd";
}
.biz-icon-ic_call_split:before {
    content: "\f1fe";
}
.biz-icon-ic_chat:before {
    content: "\f1ff";
}
.biz-icon-ic_chat_bubble:before {
    content: "\f200";
}
.biz-icon-ic_chat_bubble_outline:before {
    content: "\f201";
}
.biz-icon-ic_clear_all:before {
    content: "\f202";
}
.biz-icon-ic_comment:before {
    content: "\f203";
}
.biz-icon-ic_contact_phone:before {
    content: "\f204";
}
.biz-icon-ic_contacts:before {
    content: "\f205";
}
.biz-icon-ic_dialer_sip:before {
    content: "\f206";
}
.biz-icon-ic_dialpad:before {
    content: "\f207";
}
.biz-icon-ic_email:before {
    content: "\f208";
}
.biz-icon-ic_forum:before {
    content: "\f209";
}
.biz-icon-ic_import_export:before {
    content: "\f20a";
}
.biz-icon-ic_invert_colors_off:before {
    content: "\f20b";
}
.biz-icon-ic_live_help:before {
    content: "\f20c";
}
.biz-icon-ic_location_off:before {
    content: "\f20d";
}
.biz-icon-ic_location_on:before {
    content: "\f20e";
}
.biz-icon-ic_message:before {
    content: "\f20f";
}
.biz-icon-ic_no_sim:before {
    content: "\f210";
}
.biz-icon-ic_phone:before {
    content: "\f211";
}
.biz-icon-ic_phonelink_erase:before {
    content: "\f212";
}
.biz-icon-ic_phonelink_lock:before {
    content: "\f213";
}
.biz-icon-ic_phonelink_ring:before {
    content: "\f214";
}
.biz-icon-ic_phonelink_setup:before {
    content: "\f215";
}
.biz-icon-ic_portable_wifi_off:before {
    content: "\f216";
}
.biz-icon-ic_present_to_all:before {
    content: "\f217";
}
.biz-icon-ic_ring_volume:before {
    content: "\f218";
}
.biz-icon-ic_speaker_phone:before {
    content: "\f219";
}
.biz-icon-ic_stay_current_landscape:before {
    content: "\f21a";
}
.biz-icon-ic_stay_current_portrait:before {
    content: "\f21b";
}
.biz-icon-ic_stay_primary_landscape:before {
    content: "\f21c";
}
.biz-icon-ic_stay_primary_portrait:before {
    content: "\f21d";
}
.biz-icon-ic_swap_calls:before {
    content: "\f21e";
}
.biz-icon-ic_textsms:before {
    content: "\f21f";
}
.biz-icon-ic_voicemail:before {
    content: "\f220";
}
.biz-icon-ic_vpn_key:before {
    content: "\f221";
}
.biz-icon-ic_add:before {
    content: "\f222";
}
.biz-icon-ic_add_box:before {
    content: "\f223";
}
.biz-icon-ic_add_circle:before {
    content: "\f224";
}
.biz-icon-ic_add_circle_outline:before {
    content: "\f225";
}
.biz-icon-ic_archive:before {
    content: "\f226";
}
.biz-icon-ic_backspace:before {
    content: "\f227";
}
.biz-icon-ic_block:before {
    content: "\f228";
}
.biz-icon-ic_clear:before {
    content: "\f229";
}
.biz-icon-ic_content_copy:before {
    content: "\f22a";
}
.biz-icon-ic_content_cut:before {
    content: "\f22b";
}
.biz-icon-ic_content_paste:before {
    content: "\f22c";
}
.biz-icon-ic_create:before {
    content: "\f22d";
}
.biz-icon-ic_drafts:before {
    content: "\f22e";
}
.biz-icon-ic_filter_list:before {
    content: "\f22f";
}
.biz-icon-ic_flag:before {
    content: "\f230";
}
.biz-icon-ic_font_download:before {
    content: "\f231";
}
.biz-icon-ic_forward:before {
    content: "\f232";
}
.biz-icon-ic_gesture:before {
    content: "\f233";
}
.biz-icon-ic_inbox:before {
    content: "\f234";
}
.biz-icon-ic_link:before {
    content: "\f235";
}
.biz-icon-ic_mail:before {
    content: "\f236";
}
.biz-icon-ic_markunread:before {
    content: "\f237";
}
.biz-icon-ic_redo:before {
    content: "\f238";
}
.biz-icon-ic_remove:before {
    content: "\f239";
}
.biz-icon-ic_remove_circle:before {
    content: "\f23a";
}
.biz-icon-ic_remove_circle_outline:before {
    content: "\f23b";
}
.biz-icon-ic_reply:before {
    content: "\f23c";
}
.biz-icon-ic_reply_all:before {
    content: "\f23d";
}
.biz-icon-ic_report:before {
    content: "\f23e";
}
.biz-icon-ic_save:before {
    content: "\f23f";
}
.biz-icon-ic_select_all:before {
    content: "\f240";
}
.biz-icon-ic_send:before {
    content: "\f241";
}
.biz-icon-ic_sort:before {
    content: "\f242";
}
.biz-icon-ic_text_format:before {
    content: "\f243";
}
.biz-icon-ic_undo:before {
    content: "\f244";
}
.biz-icon-ic_access_alarm:before {
    content: "\f245";
}
.biz-icon-ic_access_alarms:before {
    content: "\f246";
}
.biz-icon-ic_access_time:before {
    content: "\f247";
}
.biz-icon-ic_add_alarm:before {
    content: "\f248";
}
.biz-icon-ic_airplanemode_active:before {
    content: "\f249";
}
.biz-icon-ic_airplanemode_inactive:before {
    content: "\f24a";
}
.biz-icon-ic_battery_20:before {
    content: "\f24b";
}
.biz-icon-ic_battery_30:before {
    content: "\f24c";
}
.biz-icon-ic_battery_50:before {
    content: "\f24d";
}
.biz-icon-ic_battery_60:before {
    content: "\f24e";
}
.biz-icon-ic_battery_80:before {
    content: "\f24f";
}
.biz-icon-ic_battery_90:before {
    content: "\f250";
}
.biz-icon-ic_battery_alert:before {
    content: "\f251";
}
.biz-icon-ic_battery_charging_20:before {
    content: "\f252";
}
.biz-icon-ic_battery_charging_30:before {
    content: "\f253";
}
.biz-icon-ic_battery_charging_50:before {
    content: "\f254";
}
.biz-icon-ic_battery_charging_60:before {
    content: "\f255";
}
.biz-icon-ic_battery_charging_80:before {
    content: "\f256";
}
.biz-icon-ic_battery_charging_90:before {
    content: "\f257";
}
.biz-icon-ic_battery_charging_full:before {
    content: "\f258";
}
.biz-icon-ic_battery_full:before {
    content: "\f259";
}
.biz-icon-ic_battery_std:before {
    content: "\f25a";
}
.biz-icon-ic_battery_unknown:before {
    content: "\f25b";
}
.biz-icon-ic_bluetooth:before {
    content: "\f25c";
}
.biz-icon-ic_bluetooth_connected:before {
    content: "\f25d";
}
.biz-icon-ic_bluetooth_disabled:before {
    content: "\f25e";
}
.biz-icon-ic_bluetooth_searching:before {
    content: "\f25f";
}
.biz-icon-ic_brightness_auto:before {
    content: "\f260";
}
.biz-icon-ic_brightness_high:before {
    content: "\f261";
}
.biz-icon-ic_brightness_low:before {
    content: "\f262";
}
.biz-icon-ic_brightness_medium:before {
    content: "\f263";
}
.biz-icon-ic_data_usage:before {
    content: "\f264";
}
.biz-icon-ic_developer_mode:before {
    content: "\f265";
}
.biz-icon-ic_devices:before {
    content: "\f266";
}
.biz-icon-ic_dvr:before {
    content: "\f267";
}
.biz-icon-ic_gps_fixed:before {
    content: "\f268";
}
.biz-icon-ic_gps_not_fixed:before {
    content: "\f269";
}
.biz-icon-ic_gps_off:before {
    content: "\f26a";
}
.biz-icon-ic_graphic_eq:before {
    content: "\f26b";
}
.biz-icon-ic_location_disabled:before {
    content: "\f26c";
}
.biz-icon-ic_location_searching:before {
    content: "\f26d";
}
.biz-icon-ic_network_cell:before {
    content: "\f26e";
}
.biz-icon-ic_network_wifi:before {
    content: "\f26f";
}
.biz-icon-ic_nfc:before {
    content: "\f270";
}
.biz-icon-ic_screen_lock_landscape:before {
    content: "\f271";
}
.biz-icon-ic_screen_lock_portrait:before {
    content: "\f272";
}
.biz-icon-ic_screen_lock_rotation:before {
    content: "\f273";
}
.biz-icon-ic_screen_rotation:before {
    content: "\f274";
}
.biz-icon-ic_sd_storage:before {
    content: "\f275";
}
.biz-icon-ic_settings_system_daydream:before {
    content: "\f276";
}
.biz-icon-ic_signal_cellular_0_bar:before {
    content: "\f277";
}
.biz-icon-ic_signal_cellular_1_bar:before {
    content: "\f278";
}
.biz-icon-ic_signal_cellular_2_bar:before {
    content: "\f279";
}
.biz-icon-ic_signal_cellular_3_bar:before {
    content: "\f27a";
}
.biz-icon-ic_signal_cellular_4_bar:before {
    content: "\f27b";
}
.biz-icon-ic_signal_cellular_connected_no_internet_0_bar:before {
    content: "\f27c";
}
.biz-icon-ic_signal_cellular_connected_no_internet_1_bar:before {
    content: "\f27d";
}
.biz-icon-ic_signal_cellular_connected_no_internet_2_bar:before {
    content: "\f27e";
}
.biz-icon-ic_signal_cellular_connected_no_internet_3_bar:before {
    content: "\f27f";
}
.biz-icon-ic_signal_cellular_connected_no_internet_4_bar:before {
    content: "\f280";
}
.biz-icon-ic_signal_cellular_no_sim:before {
    content: "\f281";
}
.biz-icon-ic_signal_cellular_null:before {
    content: "\f282";
}
.biz-icon-ic_signal_cellular_off:before {
    content: "\f283";
}
.biz-icon-ic_signal_wifi_0_bar:before {
    content: "\f284";
}
.biz-icon-ic_signal_wifi_1_bar:before {
    content: "\f285";
}
.biz-icon-ic_signal_wifi_1_bar_lock:before {
    content: "\f286";
}
.biz-icon-ic_signal_wifi_2_bar:before {
    content: "\f287";
}
.biz-icon-ic_signal_wifi_2_bar_lock:before {
    content: "\f288";
}
.biz-icon-ic_signal_wifi_3_bar:before {
    content: "\f289";
}
.biz-icon-ic_signal_wifi_3_bar_lock:before {
    content: "\f28a";
}
.biz-icon-ic_signal_wifi_4_bar:before {
    content: "\f28b";
}
.biz-icon-ic_signal_wifi_4_bar_lock:before {
    content: "\f28c";
}
.biz-icon-ic_signal_wifi_off:before {
    content: "\f28d";
}
.biz-icon-ic_signal_wifi_statusbar_1_bar:before {
    content: "\f28e";
}
.biz-icon-ic_signal_wifi_statusbar_2_bar:before {
    content: "\f28f";
}
.biz-icon-ic_signal_wifi_statusbar_3_bar:before {
    content: "\f290";
}
.biz-icon-ic_signal_wifi_statusbar_4_bar:before {
    content: "\f291";
}
.biz-icon-ic_signal_wifi_statusbar_connected_no_internet_1:before {
    content: "\f292";
}
.biz-icon-ic_signal_wifi_statusbar_connected_no_internet:before {
    content: "\f293";
}
.biz-icon-ic_signal_wifi_statusbar_connected_no_internet_2:before {
    content: "\f294";
}
.biz-icon-ic_signal_wifi_statusbar_connected_no_internet_3:before {
    content: "\f295";
}
.biz-icon-ic_signal_wifi_statusbar_connected_no_internet_4:before {
    content: "\f296";
}
.biz-icon-ic_signal_wifi_statusbar_not_connected:before {
    content: "\f297";
}
.biz-icon-ic_signal_wifi_statusbar_null:before {
    content: "\f298";
}
.biz-icon-ic_storage:before {
    content: "\f299";
}
.biz-icon-ic_usb:before {
    content: "\f29a";
}
.biz-icon-ic_wallpaper:before {
    content: "\f29b";
}
.biz-icon-ic_widgets:before {
    content: "\f29c";
}
.biz-icon-ic_wifi_lock:before {
    content: "\f29d";
}
.biz-icon-ic_wifi_tethering:before {
    content: "\f29e";
}
.biz-icon-ic_attach_file:before {
    content: "\f29f";
}
.biz-icon-ic_attach_money:before {
    content: "\f2a0";
}
.biz-icon-ic_border_all:before {
    content: "\f2a1";
}
.biz-icon-ic_border_bottom:before {
    content: "\f2a2";
}
.biz-icon-ic_border_clear:before {
    content: "\f2a3";
}
.biz-icon-ic_border_color:before {
    content: "\f2a4";
}
.biz-icon-ic_border_horizontal:before {
    content: "\f2a5";
}
.biz-icon-ic_border_inner:before {
    content: "\f2a6";
}
.biz-icon-ic_border_left:before {
    content: "\f2a7";
}
.biz-icon-ic_border_outer:before {
    content: "\f2a8";
}
.biz-icon-ic_border_right:before {
    content: "\f2a9";
}
.biz-icon-ic_border_style:before {
    content: "\f2aa";
}
.biz-icon-ic_border_top:before {
    content: "\f2ab";
}
.biz-icon-ic_border_vertical:before {
    content: "\f2ac";
}
.biz-icon-ic_format_align_center:before {
    content: "\f2ad";
}
.biz-icon-ic_format_align_justify:before {
    content: "\f2ae";
}
.biz-icon-ic_format_align_left:before {
    content: "\f2af";
}
.biz-icon-ic_format_align_right:before {
    content: "\f2b0";
}
.biz-icon-ic_format_bold:before {
    content: "\f2b1";
}
.biz-icon-ic_format_clear:before {
    content: "\f2b2";
}
.biz-icon-ic_format_color_fill:before {
    content: "\f2b3";
}
.biz-icon-ic_format_color_reset:before {
    content: "\f2b4";
}
.biz-icon-ic_format_color_text:before {
    content: "\f2b5";
}
.biz-icon-ic_format_indent_decrease:before {
    content: "\f2b6";
}
.biz-icon-ic_format_indent_increase:before {
    content: "\f2b7";
}
.biz-icon-ic_format_italic:before {
    content: "\f2b8";
}
.biz-icon-ic_format_line_spacing:before {
    content: "\f2b9";
}
.biz-icon-ic_format_list_bulleted:before {
    content: "\f2ba";
}
.biz-icon-ic_format_list_numbered:before {
    content: "\f2bb";
}
.biz-icon-ic_format_paint:before {
    content: "\f2bc";
}
.biz-icon-ic_format_quote:before {
    content: "\f2bd";
}
.biz-icon-ic_format_size:before {
    content: "\f2be";
}
.biz-icon-ic_format_strikethrough:before {
    content: "\f2bf";
}
.biz-icon-ic_format_textdirection_l_to_r:before {
    content: "\f2c0";
}
.biz-icon-ic_format_textdirection_r_to_l:before {
    content: "\f2c1";
}
.biz-icon-ic_format_underlined:before {
    content: "\f2c2";
}
.biz-icon-ic_functions:before {
    content: "\f2c3";
}
.biz-icon-ic_insert_chart:before {
    content: "\f2c4";
}
.biz-icon-ic_insert_comment:before {
    content: "\f2c5";
}
.biz-icon-ic_insert_drive_file:before {
    content: "\f2c6";
}
.biz-icon-ic_insert_emoticon:before {
    content: "\f2c7";
}
.biz-icon-ic_insert_invitation:before {
    content: "\f2c8";
}
.biz-icon-ic_insert_link:before {
    content: "\f2c9";
}
.biz-icon-ic_insert_photo:before {
    content: "\f2ca";
}
.biz-icon-ic_merge_type:before {
    content: "\f2cb";
}
.biz-icon-ic_mode_comment:before {
    content: "\f2cc";
}
.biz-icon-ic_mode_edit:before {
    content: "\f2cd";
}
.biz-icon-ic_money_off:before {
    content: "\f2ce";
}
.biz-icon-ic_publish:before {
    content: "\f2cf";
}
.biz-icon-ic_space_bar:before {
    content: "\f2d0";
}
.biz-icon-ic_strikethrough_s:before {
    content: "\f2d1";
}
.biz-icon-ic_vertical_align_bottom:before {
    content: "\f2d2";
}
.biz-icon-ic_vertical_align_center:before {
    content: "\f2d3";
}
.biz-icon-ic_vertical_align_top:before {
    content: "\f2d4";
}
.biz-icon-ic_wrap_text:before {
    content: "\f2d5";
}
.biz-icon-ic_attachment:before {
    content: "\f2d6";
}
.biz-icon-ic_cloud:before {
    content: "\f2d7";
}
.biz-icon-ic_cloud_circle:before {
    content: "\f2d8";
}
.biz-icon-ic_cloud_done:before {
    content: "\f2d9";
}
.biz-icon-ic_cloud_download:before {
    content: "\f2da";
}
.biz-icon-ic_cloud_off:before {
    content: "\f2db";
}
.biz-icon-ic_cloud_queue:before {
    content: "\f2dc";
}
.biz-icon-ic_cloud_upload:before {
    content: "\f2dd";
}
.biz-icon-ic_file_download:before {
    content: "\f2de";
}
.biz-icon-ic_file_upload:before {
    content: "\f2df";
}
.biz-icon-ic_folder:before {
    content: "\f2e0";
}
.biz-icon-ic_folder_open:before {
    content: "\f2e1";
}
.biz-icon-ic_folder_shared:before {
    content: "\f2e2";
}
.biz-icon-ic_cast:before {
    content: "\f2e3";
}
.biz-icon-ic_cast_connected:before {
    content: "\f2e4";
}
.biz-icon-ic_computer:before {
    content: "\f2e5";
}
.biz-icon-ic_desktop_mac:before {
    content: "\f2e6";
}
.biz-icon-ic_desktop_windows:before {
    content: "\f2e7";
}
.biz-icon-ic_developer_board:before {
    content: "\f2e8";
}
.biz-icon-ic_device_hub:before {
    content: "\f2e9";
}
.biz-icon-ic_dock:before {
    content: "\f2ea";
}
.biz-icon-ic_gamepad:before {
    content: "\f2eb";
}
.biz-icon-ic_headset:before {
    content: "\f2ec";
}
.biz-icon-ic_headset_mic:before {
    content: "\f2ed";
}
.biz-icon-ic_keyboard:before {
    content: "\f2ee";
}
.biz-icon-ic_keyboard_arrow_down:before {
    content: "\f2ef";
}
.biz-icon-ic_keyboard_arrow_left:before {
    content: "\f2f0";
}
.biz-icon-ic_keyboard_arrow_right:before {
    content: "\f2f1";
}
.biz-icon-ic_keyboard_arrow_up:before {
    content: "\f2f2";
}
.biz-icon-ic_keyboard_backspace:before {
    content: "\f2f3";
}
.biz-icon-ic_keyboard_capslock:before {
    content: "\f2f4";
}
.biz-icon-ic_keyboard_hide:before {
    content: "\f2f5";
}
.biz-icon-ic_keyboard_return:before {
    content: "\f2f6";
}
.biz-icon-ic_keyboard_tab:before {
    content: "\f2f7";
}
.biz-icon-ic_keyboard_voice:before {
    content: "\f2f8";
}
.biz-icon-ic_laptop:before {
    content: "\f2f9";
}
.biz-icon-ic_laptop_chromebook:before {
    content: "\f2fa";
}
.biz-icon-ic_laptop_mac:before {
    content: "\f2fb";
}
.biz-icon-ic_laptop_windows:before {
    content: "\f2fc";
}
.biz-icon-ic_memory:before {
    content: "\f2fd";
}
.biz-icon-ic_mouse:before {
    content: "\f2fe";
}
.biz-icon-ic_phone_android:before {
    content: "\f2ff";
}
.biz-icon-ic_phone_iphone:before {
    content: "\f300";
}
.biz-icon-ic_phonelink:before {
    content: "\f301";
}
.biz-icon-ic_phonelink_off:before {
    content: "\f302";
}
.biz-icon-ic_power_input:before {
    content: "\f303";
}
.biz-icon-ic_router:before {
    content: "\f304";
}
.biz-icon-ic_scanner:before {
    content: "\f305";
}
.biz-icon-ic_security:before {
    content: "\f306";
}
.biz-icon-ic_sim_card:before {
    content: "\f307";
}
.biz-icon-ic_smartphone:before {
    content: "\f308";
}
.biz-icon-ic_speaker:before {
    content: "\f309";
}
.biz-icon-ic_speaker_group:before {
    content: "\f30a";
}
.biz-icon-ic_tablet:before {
    content: "\f30b";
}
.biz-icon-ic_tablet_android:before {
    content: "\f30c";
}
.biz-icon-ic_tablet_mac:before {
    content: "\f30d";
}
.biz-icon-ic_toys:before {
    content: "\f30e";
}
.biz-icon-ic_tv:before {
    content: "\f30f";
}
.biz-icon-ic_watch:before {
    content: "\f310";
}
.biz-icon-ic_add_to_photos:before {
    content: "\f311";
}
.biz-icon-ic_adjust:before {
    content: "\f312";
}
.biz-icon-ic_assistant:before {
    content: "\f313";
}
.biz-icon-ic_assistant_photo:before {
    content: "\f314";
}
.biz-icon-ic_audiotrack:before {
    content: "\f315";
}
.biz-icon-ic_blur_circular:before {
    content: "\f316";
}
.biz-icon-ic_blur_linear:before {
    content: "\f317";
}
.biz-icon-ic_blur_off:before {
    content: "\f318";
}
.biz-icon-ic_blur_on:before {
    content: "\f319";
}
.biz-icon-ic_brightness_1:before {
    content: "\f31a";
}
.biz-icon-ic_brightness_2:before {
    content: "\f31b";
}
.biz-icon-ic_brightness_3:before {
    content: "\f31c";
}
.biz-icon-ic_brightness_4:before {
    content: "\f31d";
}
.biz-icon-ic_brightness_5:before {
    content: "\f31e";
}
.biz-icon-ic_brightness_6:before {
    content: "\f31f";
}
.biz-icon-ic_brightness_7:before {
    content: "\f320";
}
.biz-icon-ic_broken_image:before {
    content: "\f321";
}
.biz-icon-ic_brush:before {
    content: "\f322";
}
.biz-icon-ic_camera:before {
    content: "\f323";
}
.biz-icon-ic_camera_alt:before {
    content: "\f324";
}
.biz-icon-ic_camera_front:before {
    content: "\f325";
}
.biz-icon-ic_camera_rear:before {
    content: "\f326";
}
.biz-icon-ic_camera_roll:before {
    content: "\f327";
}
.biz-icon-ic_center_focus_strong:before {
    content: "\f328";
}
.biz-icon-ic_center_focus_weak:before {
    content: "\f329";
}
.biz-icon-ic_collections:before {
    content: "\f32a";
}
.biz-icon-ic_collections_bookmark:before {
    content: "\f32b";
}
.biz-icon-ic_color_lens:before {
    content: "\f32c";
}
.biz-icon-ic_colorize:before {
    content: "\f32d";
}
.biz-icon-ic_compare:before {
    content: "\f32e";
}
.biz-icon-ic_control_point:before {
    content: "\f32f";
}
.biz-icon-ic_control_point_duplicate:before {
    content: "\f330";
}
.biz-icon-ic_crop_16_9:before {
    content: "\f331";
}
.biz-icon-ic_crop:before {
    content: "\f332";
}
.biz-icon-ic_crop_3_2:before {
    content: "\f333";
}
.biz-icon-ic_crop_5_4:before {
    content: "\f334";
}
.biz-icon-ic_crop_7_5:before {
    content: "\f335";
}
.biz-icon-ic_crop_din:before {
    content: "\f336";
}
.biz-icon-ic_crop_free:before {
    content: "\f337";
}
.biz-icon-ic_crop_landscape:before {
    content: "\f338";
}
.biz-icon-ic_crop_original:before {
    content: "\f339";
}
.biz-icon-ic_crop_portrait:before {
    content: "\f33a";
}
.biz-icon-ic_crop_square:before {
    content: "\f33b";
}
.biz-icon-ic_dehaze:before {
    content: "\f33c";
}
.biz-icon-ic_details:before {
    content: "\f33d";
}
.biz-icon-ic_edit:before {
    content: "\f33e";
}
.biz-icon-ic_exposure:before {
    content: "\f33f";
}
.biz-icon-ic_exposure_neg_1:before {
    content: "\f340";
}
.biz-icon-ic_exposure_neg_2:before {
    content: "\f341";
}
.biz-icon-ic_exposure_plus_1:before {
    content: "\f342";
}
.biz-icon-ic_exposure_plus_2:before {
    content: "\f343";
}
.biz-icon-ic_exposure_zero:before {
    content: "\f344";
}
.biz-icon-ic_filter_1:before {
    content: "\f345";
}
.biz-icon-ic_filter:before {
    content: "\f346";
}
.biz-icon-ic_filter_2:before {
    content: "\f347";
}
.biz-icon-ic_filter_3:before {
    content: "\f348";
}
.biz-icon-ic_filter_4:before {
    content: "\f349";
}
.biz-icon-ic_filter_5:before {
    content: "\f34a";
}
.biz-icon-ic_filter_6:before {
    content: "\f34b";
}
.biz-icon-ic_filter_7:before {
    content: "\f34c";
}
.biz-icon-ic_filter_8:before {
    content: "\f34d";
}
.biz-icon-ic_filter_9:before {
    content: "\f34e";
}
.biz-icon-ic_filter_9_plus:before {
    content: "\f34f";
}
.biz-icon-ic_filter_b_and_w:before {
    content: "\f350";
}
.biz-icon-ic_filter_center_focus:before {
    content: "\f351";
}
.biz-icon-ic_filter_drama:before {
    content: "\f352";
}
.biz-icon-ic_filter_frames:before {
    content: "\f353";
}
.biz-icon-ic_filter_hdr:before {
    content: "\f354";
}
.biz-icon-ic_filter_none:before {
    content: "\f355";
}
.biz-icon-ic_filter_tilt_shift:before {
    content: "\f356";
}
.biz-icon-ic_filter_vintage:before {
    content: "\f357";
}
.biz-icon-ic_flare:before {
    content: "\f358";
}
.biz-icon-ic_flash_auto:before {
    content: "\f359";
}
.biz-icon-ic_flash_off:before {
    content: "\f35a";
}
.biz-icon-ic_flash_on:before {
    content: "\f35b";
}
.biz-icon-ic_flip:before {
    content: "\f35c";
}
.biz-icon-ic_gradient:before {
    content: "\f35d";
}
.biz-icon-ic_grain:before {
    content: "\f35e";
}
.biz-icon-ic_grid_off:before {
    content: "\f35f";
}
.biz-icon-ic_grid_on:before {
    content: "\f360";
}
.biz-icon-ic_hdr_off:before {
    content: "\f361";
}
.biz-icon-ic_hdr_on:before {
    content: "\f362";
}
.biz-icon-ic_hdr_strong:before {
    content: "\f363";
}
.biz-icon-ic_hdr_weak:before {
    content: "\f364";
}
.biz-icon-ic_healing:before {
    content: "\f365";
}
.biz-icon-ic_image:before {
    content: "\f366";
}
.biz-icon-ic_image_aspect_ratio:before {
    content: "\f367";
}
.biz-icon-ic_iso:before {
    content: "\f368";
}
.biz-icon-ic_landscape:before {
    content: "\f369";
}
.biz-icon-ic_leak_add:before {
    content: "\f36a";
}
.biz-icon-ic_leak_remove:before {
    content: "\f36b";
}
.biz-icon-ic_lens:before {
    content: "\f36c";
}
.biz-icon-ic_looks:before {
    content: "\f36d";
}
.biz-icon-ic_looks_3:before {
    content: "\f36e";
}
.biz-icon-ic_looks_4:before {
    content: "\f36f";
}
.biz-icon-ic_looks_5:before {
    content: "\f370";
}
.biz-icon-ic_looks_6:before {
    content: "\f371";
}
.biz-icon-ic_looks_one:before {
    content: "\f372";
}
.biz-icon-ic_looks_two:before {
    content: "\f373";
}
.biz-icon-ic_loupe:before {
    content: "\f374";
}
.biz-icon-ic_monochrome_photos:before {
    content: "\f375";
}
.biz-icon-ic_movie_creation:before {
    content: "\f376";
}
.biz-icon-ic_music_note:before {
    content: "\f377";
}
.biz-icon-ic_nature:before {
    content: "\f378";
}
.biz-icon-ic_nature_people:before {
    content: "\f379";
}
.biz-icon-ic_navigate_before:before {
    content: "\f37a";
}
.biz-icon-ic_navigate_next:before {
    content: "\f37b";
}
.biz-icon-ic_palette:before {
    content: "\f37c";
}
.biz-icon-ic_panorama:before {
    content: "\f37d";
}
.biz-icon-ic_panorama_fish_eye:before {
    content: "\f37e";
}
.biz-icon-ic_panorama_horizontal:before {
    content: "\f37f";
}
.biz-icon-ic_panorama_vertical:before {
    content: "\f380";
}
.biz-icon-ic_panorama_wide_angle:before {
    content: "\f381";
}
.biz-icon-ic_photo:before {
    content: "\f382";
}
.biz-icon-ic_photo_album:before {
    content: "\f383";
}
.biz-icon-ic_photo_camera:before {
    content: "\f384";
}
.biz-icon-ic_photo_library:before {
    content: "\f385";
}
.biz-icon-ic_photo_size_select_actual:before {
    content: "\f386";
}
.biz-icon-ic_photo_size_select_large:before {
    content: "\f387";
}
.biz-icon-ic_photo_size_select_small:before {
    content: "\f388";
}
.biz-icon-ic_picture_as_pdf:before {
    content: "\f389";
}
.biz-icon-ic_portrait:before {
    content: "\f38a";
}
.biz-icon-ic_remove_red_eye:before {
    content: "\f38b";
}
.biz-icon-ic_rotate_90_degrees_ccw:before {
    content: "\f38c";
}
.biz-icon-ic_rotate_left:before {
    content: "\f38d";
}
.biz-icon-ic_rotate_right:before {
    content: "\f38e";
}
.biz-icon-ic_slideshow:before {
    content: "\f38f";
}
.biz-icon-ic_straighten:before {
    content: "\f390";
}
.biz-icon-ic_style:before {
    content: "\f391";
}
.biz-icon-ic_switch_camera:before {
    content: "\f392";
}
.biz-icon-ic_switch_video:before {
    content: "\f393";
}
.biz-icon-ic_tag_faces:before {
    content: "\f394";
}
.biz-icon-ic_texture:before {
    content: "\f395";
}
.biz-icon-ic_timelapse:before {
    content: "\f396";
}
.biz-icon-ic_timer_10:before {
    content: "\f397";
}
.biz-icon-ic_timer:before {
    content: "\f398";
}
.biz-icon-ic_timer_3:before {
    content: "\f399";
}
.biz-icon-ic_timer_off:before {
    content: "\f39a";
}
.biz-icon-ic_tonality:before {
    content: "\f39b";
}
.biz-icon-ic_transform:before {
    content: "\f39c";
}
.biz-icon-ic_tune:before {
    content: "\f39d";
}
.biz-icon-ic_view_comfy:before {
    content: "\f39e";
}
.biz-icon-ic_view_compact:before {
    content: "\f39f";
}
.biz-icon-ic_vignette:before {
    content: "\f3a0";
}
.biz-icon-ic_wb_auto:before {
    content: "\f3a1";
}
.biz-icon-ic_wb_cloudy:before {
    content: "\f3a2";
}
.biz-icon-ic_wb_incandescent:before {
    content: "\f3a3";
}
.biz-icon-ic_wb_iridescent:before {
    content: "\f3a4";
}
.biz-icon-ic_wb_sunny:before {
    content: "\f3a5";
}
.biz-icon-ic_beenhere:before {
    content: "\f3a6";
}
.biz-icon-ic_directions:before {
    content: "\f3a7";
}
.biz-icon-ic_directions_bike:before {
    content: "\f3a8";
}
.biz-icon-ic_directions_boat:before {
    content: "\f3a9";
}
.biz-icon-ic_directions_bus:before {
    content: "\f3aa";
}
.biz-icon-ic_directions_car:before {
    content: "\f3ab";
}
.biz-icon-ic_directions_railway:before {
    content: "\f3ac";
}
.biz-icon-ic_directions_run:before {
    content: "\f3ad";
}
.biz-icon-ic_directions_subway:before {
    content: "\f3ae";
}
.biz-icon-ic_directions_transit:before {
    content: "\f3af";
}
.biz-icon-ic_directions_walk:before {
    content: "\f3b0";
}
.biz-icon-ic_flight:before {
    content: "\f3b1";
}
.biz-icon-ic_hotel:before {
    content: "\f3b2";
}
.biz-icon-ic_layers:before {
    content: "\f3b3";
}
.biz-icon-ic_layers_clear:before {
    content: "\f3b4";
}
.biz-icon-ic_local_activity:before {
    content: "\f3b5";
}
.biz-icon-ic_local_airport:before {
    content: "\f3b6";
}
.biz-icon-ic_local_atm:before {
    content: "\f3b7";
}
.biz-icon-ic_local_bar:before {
    content: "\f3b8";
}
.biz-icon-ic_local_cafe:before {
    content: "\f3b9";
}
.biz-icon-ic_local_car_wash:before {
    content: "\f3ba";
}
.biz-icon-ic_local_convenience_store:before {
    content: "\f3bb";
}
.biz-icon-ic_local_dining:before {
    content: "\f3bc";
}
.biz-icon-ic_local_drink:before {
    content: "\f3bd";
}
.biz-icon-ic_local_florist:before {
    content: "\f3be";
}
.biz-icon-ic_local_gas_station:before {
    content: "\f3bf";
}
.biz-icon-ic_local_grocery_store:before {
    content: "\f3c0";
}
.biz-icon-ic_local_hospital:before {
    content: "\f3c1";
}
.biz-icon-ic_local_hotel:before {
    content: "\f3c2";
}
.biz-icon-ic_local_laundry_service:before {
    content: "\f3c3";
}
.biz-icon-ic_local_library:before {
    content: "\f3c4";
}
.biz-icon-ic_local_mall:before {
    content: "\f3c5";
}
.biz-icon-ic_local_movies:before {
    content: "\f3c6";
}
.biz-icon-ic_local_offer:before {
    content: "\f3c7";
}
.biz-icon-ic_local_parking:before {
    content: "\f3c8";
}
.biz-icon-ic_local_pharmacy:before {
    content: "\f3c9";
}
.biz-icon-ic_local_phone:before {
    content: "\f3ca";
}
.biz-icon-ic_local_pizza:before {
    content: "\f3cb";
}
.biz-icon-ic_local_play:before {
    content: "\f3cc";
}
.biz-icon-ic_local_post_office:before {
    content: "\f3cd";
}
.biz-icon-ic_local_printshop:before {
    content: "\f3ce";
}
.biz-icon-ic_local_see:before {
    content: "\f3cf";
}
.biz-icon-ic_local_shipping:before {
    content: "\f3d0";
}
.biz-icon-ic_local_taxi:before {
    content: "\f3d1";
}
.biz-icon-ic_map:before {
    content: "\f3d2";
}
.biz-icon-ic_my_location:before {
    content: "\f3d3";
}
.biz-icon-ic_navigation:before {
    content: "\f3d4";
}
.biz-icon-ic_person_pin:before {
    content: "\f3d5";
}
.biz-icon-ic_pin_drop:before {
    content: "\f3d6";
}
.biz-icon-ic_place:before {
    content: "\f3d7";
}
.biz-icon-ic_rate_review:before {
    content: "\f3d8";
}
.biz-icon-ic_restaurant_menu:before {
    content: "\f3d9";
}
.biz-icon-ic_satellite:before {
    content: "\f3da";
}
.biz-icon-ic_store_mall_directory:before {
    content: "\f3db";
}
.biz-icon-ic_terrain:before {
    content: "\f3dc";
}
.biz-icon-ic_traffic:before {
    content: "\f3dd";
}
.biz-icon-ic_apps:before {
    content: "\f3de";
}
.biz-icon-ic_arrow_back:before {
    content: "\f3df";
}
.biz-icon-ic_arrow_drop_down:before {
    content: "\f3e0";
}
.biz-icon-ic_arrow_drop_down_circle:before {
    content: "\f3e1";
}
.biz-icon-ic_arrow_drop_up:before {
    content: "\f3e2";
}
.biz-icon-ic_arrow_forward:before {
    content: "\f3e3";
}
.biz-icon-ic_cancel:before {
    content: "\f3e4";
}
.biz-icon-ic_check:before {
    content: "\f3e5";
}
.biz-icon-ic_chevron_left:before {
    content: "\f3e6";
}
.biz-icon-ic_chevron_right:before {
    content: "\f3e7";
}
.biz-icon-ic_close:before {
    content: "\f3e8";
}
.biz-icon-ic_expand_less:before {
    content: "\f3e9";
}
.biz-icon-ic_expand_more:before {
    content: "\f3ea";
}
.biz-icon-ic_fullscreen:before {
    content: "\f3eb";
}
.biz-icon-ic_fullscreen_exit:before {
    content: "\f3ec";
}
.biz-icon-ic_menu:before {
    content: "\f3ed";
}
.biz-icon-ic_more_horiz:before {
    content: "\f3ee";
}
.biz-icon-ic_more_vert:before {
    content: "\f3ef";
}
.biz-icon-ic_refresh:before {
    content: "\f3f0";
}
.biz-icon-ic_unfold_less:before {
    content: "\f3f1";
}
.biz-icon-ic_unfold_more:before {
    content: "\f3f2";
}
.biz-icon-ic_adb:before {
    content: "\f3f3";
}
.biz-icon-ic_airline_seat_flat:before {
    content: "\f3f4";
}
.biz-icon-ic_airline_seat_flat_angled:before {
    content: "\f3f5";
}
.biz-icon-ic_airline_seat_individual_suite:before {
    content: "\f3f6";
}
.biz-icon-ic_airline_seat_legroom_extra:before {
    content: "\f3f7";
}
.biz-icon-ic_airline_seat_legroom_normal:before {
    content: "\f3f8";
}
.biz-icon-ic_airline_seat_legroom_reduced:before {
    content: "\f3f9";
}
.biz-icon-ic_airline_seat_recline_extra:before {
    content: "\f3fa";
}
.biz-icon-ic_airline_seat_recline_normal:before {
    content: "\f3fb";
}
.biz-icon-ic_bluetooth_audio:before {
    content: "\f3fc";
}
.biz-icon-ic_confirmation_number:before {
    content: "\f3fd";
}
.biz-icon-ic_disc_full:before {
    content: "\f3fe";
}
.biz-icon-ic_do_not_disturb:before {
    content: "\f3ff";
}
.biz-icon-ic_do_not_disturb_alt:before {
    content: "\f400";
}
.biz-icon-ic_drive_eta:before {
    content: "\f401";
}
.biz-icon-ic_event_available:before {
    content: "\f402";
}
.biz-icon-ic_event_busy:before {
    content: "\f403";
}
.biz-icon-ic_event_note:before {
    content: "\f404";
}
.biz-icon-ic_folder_special:before {
    content: "\f405";
}
.biz-icon-ic_live_tv:before {
    content: "\f406";
}
.biz-icon-ic_mms:before {
    content: "\f407";
}
.biz-icon-ic_more:before {
    content: "\f408";
}
.biz-icon-ic_network_locked:before {
    content: "\f409";
}
.biz-icon-ic_ondemand_video:before {
    content: "\f40a";
}
.biz-icon-ic_personal_video:before {
    content: "\f40b";
}
.biz-icon-ic_phone_bluetooth_speaker:before {
    content: "\f40c";
}
.biz-icon-ic_phone_forwarded:before {
    content: "\f40d";
}
.biz-icon-ic_phone_in_talk:before {
    content: "\f40e";
}
.biz-icon-ic_phone_locked:before {
    content: "\f40f";
}
.biz-icon-ic_phone_missed:before {
    content: "\f410";
}
.biz-icon-ic_phone_paused:before {
    content: "\f411";
}
.biz-icon-ic_power:before {
    content: "\f412";
}
.biz-icon-ic_sd_card:before {
    content: "\f413";
}
.biz-icon-ic_sim_card_alert:before {
    content: "\f414";
}
.biz-icon-ic_sms:before {
    content: "\f415";
}
.biz-icon-ic_sms_failed:before {
    content: "\f416";
}
.biz-icon-ic_sync:before {
    content: "\f417";
}
.biz-icon-ic_sync_disabled:before {
    content: "\f418";
}
.biz-icon-ic_sync_problem:before {
    content: "\f419";
}
.biz-icon-ic_system_update:before {
    content: "\f41a";
}
.biz-icon-ic_tap_and_play:before {
    content: "\f41b";
}
.biz-icon-ic_time_to_leave:before {
    content: "\f41c";
}
.biz-icon-ic_vibration:before {
    content: "\f41d";
}
.biz-icon-ic_voice_chat:before {
    content: "\f41e";
}
.biz-icon-ic_vpn_lock:before {
    content: "\f41f";
}
.biz-icon-ic_wc:before {
    content: "\f420";
}
.biz-icon-ic_wifi:before {
    content: "\f421";
}
.biz-icon-ic_cake:before {
    content: "\f422";
}
.biz-icon-ic_domain:before {
    content: "\f423";
}
.biz-icon-ic_group:before {
    content: "\f424";
}
.biz-icon-ic_group_add:before {
    content: "\f425";
}
.biz-icon-ic_location_city:before {
    content: "\f426";
}
.biz-icon-ic_mood:before {
    content: "\f427";
}
.biz-icon-ic_mood_bad:before {
    content: "\f428";
}
.biz-icon-ic_notifications:before {
    content: "\f429";
}
.biz-icon-ic_notifications_active:before {
    content: "\f42a";
}
.biz-icon-ic_notifications_none:before {
    content: "\f42b";
}
.biz-icon-ic_notifications_off:before {
    content: "\f42c";
}
.biz-icon-ic_notifications_paused:before {
    content: "\f42d";
}
.biz-icon-ic_pages:before {
    content: "\f42e";
}
.biz-icon-ic_party_mode:before {
    content: "\f42f";
}
.biz-icon-ic_people:before {
    content: "\f430";
}
.biz-icon-ic_people_outline:before {
    content: "\f431";
}
.biz-icon-ic_person:before {
    content: "\f432";
}
.biz-icon-ic_person_add:before {
    content: "\f433";
}
.biz-icon-ic_person_outline:before {
    content: "\f434";
}
.biz-icon-ic_plus_one:before {
    content: "\f435";
}
.biz-icon-ic_poll:before {
    content: "\f436";
}
.biz-icon-ic_public:before {
    content: "\f437";
}
.biz-icon-ic_school:before {
    content: "\f438";
}
.biz-icon-ic_share:before {
    content: "\f439";
}
.biz-icon-ic_whatshot:before {
    content: "\f43a";
}
.biz-icon-ic_check_box:before {
    content: "\f43b";
}
.biz-icon-ic_check_box_outline_blank:before {
    content: "\f43c";
}
.biz-icon-ic_indeterminate_check_box:before {
    content: "\f43d";
}
.biz-icon-ic_radio_button_checked:before {
    content: "\f43e";
}
.biz-icon-ic_radio_button_unchecked:before {
    content: "\f43f";
}
.biz-icon-ic_star:before {
    content: "\f440";
}
.biz-icon-ic_star_border:before {
    content: "\f441";
}
.biz-icon-ic_star_half:before {
    content: "\f442";
}
